player-connection-mode=Listen
player-connection-guid=3279062828
player-connection-debug=0
player-connection-project-name=Eggmergency
player-connection-ip=192.168.1.19
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=a4224ebbe6e14f88b5ea2d2632d47b39
